<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Success</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Success!</h1>
    <p>Thank you <strong><%= name %></strong>, your email <strong><%= email %></strong> has been registered.</p>
    <a href="/">Back to Home</a>
    <h1>Now you are our member. Enjoy our content</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OXHTlMPbX7o?si=SZ1q96v4Ngyy9S-6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
</body>
</html>
